<h1>Yorumlar</h1>
<h2>
	Toplam <%= comments.count.to_s%> yorum
</h2>
<div>
  <%= paginate comments %>
</div>

<div id="comments">
  <% unless comments.empty? %>
    <%= render :partial => 'acl_cogito/comments/comment', :collection => comments %>
  <% else %>
    <div id="no_comments"><%= t('acl_cogito.messages.no_comments_found') %></div>
  <% end %>
</div>

<div>
  <%= paginate comments %>
</div>